*{
    box-sizing: border-box;
}
.headline{
    height: 5vh;
}
.people{
    height: 92vh;
    background: rgb(3, 134, 241);
}
.chat{
    height: 92vh;
}
.messages{
    height: 90%;
    /* overflow-y: scroll; */
}
#messages{
    height: 100%;
    overflow: auto;
}
.actions{
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.actions button{
    background: rgb(3, 134, 241);
}
#msg{
    width: 72%;
}